@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        Home Index
        
        <br>
        <br>
        <br>
        @Html.ActionLink("Logout", "Logout", "Account")

        
    </div>
</body>
</html>
