<h3>
    Catalogs List<br />
</h3>
<p>
    Search: <input ng-model="search">
</p>

<table class="table table-bordered">
    <tr ng-repeat="catalog in catalogs | orderBy:'name' | filter:search">
        <td>
            {{catalog.id}}
            {{catalog.name}}
        </td>

        <td>
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                    ng-click="editCatalog(catalog.id)">
                Update
            </button>
        </td>
        <td>
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                    ng-click="deleteCatalog(catalog.id)">
                Delete
            </button>
        </td>
    </tr>
</table>

<button ng-click="addCatalog()">
    Add Catalog
</button>

<table class="mdl-data-table mdl-js-data-table">
    <thead>
        <tr>
            <th>Id</th>
            <th class="mdl-data-table__cell--non-numeric">Name</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="catalog in catalogs | orderBy:'name' | filter:search">
            <td>
                {{catalog.id}}
            </td>
            <td>
                {{catalog.name}}
            </td>
            
            <td>
                <img class="mdl-button mdl-button--icon" ng-click="editCatalog(catalog.id)" src="../../AngularJS/Mdl/ic_mode_edit_black_24px.svg" alt="Edit">
            </td>

            <td>
                <img class="mdl-button mdl-button--icon" ng-click="deleteCatalog(catalog.id)" src="../../AngularJS/Mdl/ic_delete_black_24px.svg" alt="Delete">
            </td>
        </tr>
    </tbody>
</table>
