<div class="container">
    <h1>Catalog detail</h1>

    <form novalidate="novalidate" class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="inputFirstName">Id:</label>
            <div class="controls">
                <input readonly="readonly" type="text" id="inputFirstName" ng-model="catalog.id" />
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="inputLastName">Name:</label>
            <div class="controls">
                <input type="text" id="inputLastName" ng-model="catalog.name" />
            </div>
        </div>


        <div class="control-group">
            <div class="controls">

                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                        ng-click="createCatalog()">
                    Create
                </button>
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                        ng-click="cancel()">
                    Cancel
                </button>

            </div>
        </div>
    </form>
</div>