
<h3>
    Products List<br />
</h3>

<p>
    Search: <input ng-model="search">
</p>

<table class="table table-bordered">

    <tr ng-repeat="product in products | orderBy:'name' | filter:search">

        <td>
            {{product.id}}
            {{product.catalogId}}
            {{product.name}}
            {{product.description}}
        </td>

        <td>
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                    ng-click="editProduct(product.id)">
                Update
            </button>
        </td>
        <td>
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                    ng-click="deleteProduct(product.id)">
                Delete
            </button>
        </td>
    </tr>
</table>

<button ng-click="addProduct()">
    Add Product
</button>




