<div class="container">
    <h1>Product detail</h1>

    <form novalidate="novalidate" class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="inputFirstName">Id:</label>
            <div class="controls">
                <input readonly="readonly" type="text" id="inputFirstName" ng-model="product.id" />
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="inputLastName">CatalogId:</label>
            <div class="controls">
                <input readonly="readonly" type="text" id="inputLastName" ng-model="product.catalogId" />
            </div>
        </div>

        <select ng-model="product.catalogId"
                data-ng-options="catalog.id as catalog.name for catalog in catalogs">
            <option value="currentCatalog.id">currentCatalog.name</option>
        </select>

        <div class="control-group">
            <label class="control-label" for="inputLastName">Name:</label>
            <div class="controls">
                <input type="text" id="inputLastName" ng-model="product.name" />
            </div>
        </div>


        <div class="control-group">
            <label class="control-label" for="inputLastName">Description:</label>
            <div class="controls">
                <input type="text" id="inputLastName" ng-model="product.description" />
            </div>
        </div>

        <div>
            <input class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                   type="file" name="file" onchange="angular.element(this).scope().setFileName(this.files)" />
            <br>
            <br>
            <br>
            <br>
            <div ng-show="!product.isDefaultImage">
                <div>
                    <img ng-src="{{product.fileLink}}" style="width: 100px; height:100px" />
                </div>
                <br>
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                        ng-click="deleteFile(product.id)">
                    Delete file
                </button>
            </div>
        </div>

        <br>
        <div class="control-group">
            <div class="controls">

                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                        ng-click="saveProduct()">
                    Save
                </button>
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                        ng-click="cancel()">
                    Cancel
                </button>
            </div>
        </div>
    </form>
</div>