<div class="container">
    <h1>User detail</h1>

    <form novalidate="novalidate" class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="inputFirstName">Id:</label>
            <div class="controls">
                <input readonly="readonly" type="text" id="inputFirstName" ng-model="product.id" />
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="inputLastName">CatalogId:</label>
            <div class="controls">
                <input readonly="readonly" type="text" id="inputLastName" ng-model="product.catalogId" />
            </div>
        </div>
        
        <select ng-model="product.catalogId"
                data-ng-options="catalog.id as catalog.name for catalog in catalogs">
            <option value="">please choose a catalog</option>
        </select>
        <br>
   
        <div class="control-group">
            <label class="control-label" for="inputLastName">Name:</label>
            <div class="controls">
                <input type="text" id="inputLastName" ng-model="product.name" />
            </div>
        </div>


        <div class="control-group">
            <label class="control-label" for="inputLastName">Description:</label>
            <div class="controls">
                <input type="text" id="inputLastName" ng-model="product.description" />
            </div>
        </div>

        <div class="control-group">
            <div class="controls">

                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                        ng-click="createProduct()">
                    Create
                </button>

                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                        ng-click="cancel()">
                    Cancel
                </button>

            </div>
        </div>
    </form>
</div>