
<div class="
    mdl-shadow--4dp mdl-color-text--grey-800 mdl-cell mdl-cell--3-col shopping-cart-container mdl-color--grey-100">
    <h4>
        Shopping Cart
    </h4>
    <table class="mdl-data-table mdl-js-data-table shopping-cart-checkout">
        <thead>
            <tr>
                <th>OrderId</th>
                <th>ProductId</th>
                <th>Qty</th>
                <th>ProductName</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody class="shopping-cart-checkout">
            <tr ng-repeat="item in content.OrderItemsList | orderBy:'name' | filter:search">
                <td>
                    {{item.OrderId}}
                </td>
                <td>
                    {{item.ProductId}}
                </td>
                <td>
                    {{item.Qty}}
                </td>
                <td>
                    {{item.ProductName}}
                </td>
                <td>
                    <button ng-click="addToCart(item.ProductId, 1)">
                        +
                    </button>
                </td>
                <td>
                    <button ng-click="deleteFromCart(item.ProductId)">
                        -
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

    <form name="orderForm">

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="firstName" ng-model="firstName" required>
            <label class="mdl-textfield__label" for="firstName">First name:</label>
        </div>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="lastName" ng-model="lastName" required>
            <label class="mdl-textfield__label" for="lastName">Last name:</label>
        </div>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="city" ng-model="city" required>
            <label class="mdl-textfield__label" for="city">City:</label>
        </div>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="street" ng-model="street" required>
            <label class="mdl-textfield__label" for="street">Street:</label>
        </div>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="building" ng-model="building" required>
            <label class="mdl-textfield__label" for="building">Building</label>
            <span class="mdl-textfield__error">Input is not a number!</span>
        </div>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="phone" ng-model="phone" required>
            <label class="mdl-textfield__label" for="phone">Phone</label>
            <span class="mdl-textfield__error">Input is not a number!</span>
        </div>
        <br>
        <br>
        <button ng-disabled="orderForm.$invalid" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                ng-click="openConfirm()">
            Confirm
        </button>
    </form>

    <br>
    <br>
    <br>
    <div class="span4">
        <p class="text-info">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                    onclick="window.location.href='/shop'">
                back to shop
            </button>

            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent mdl-color--red-A700"
                    ng-click="approveOrder()">
                clear cart
            </button>
        </p>
    </div>

</div>



