
<p>
    Search: <input ng-model="search">
</p>

<table class="table table-bordered">
    
    <thead>
        <tr>
            <th>Id</th>
            <th>catalogId</th>
            <th>Name</th>
            <th>Description</th>
        </tr>
    </thead>

    <tbody>
    <tr ng-repeat="product in products | orderBy:'name' | filter:search">
        <td>
            {{product.id}}
        </td>
        <td>
            {{product.catalogId}}
        </td>
        <td>
            {{product.name}}
        </td>
        <td>
            {{product.description}}
        </td>
    </tr>
        </tbody>
</table>
