
<h3>
    Users List<br />
</h3>
<p>
    Search: <input ng-model="search">
</p>

<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
    Test
</button>

<table class="table table-bordered">

    <tr ng-repeat="user in users | orderBy:'name' | filter:search">
        <td>
            {{user.id}}
            {{user.name}}
        </td>
        <td>
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                    ng-click="editUser(user.id)">
                Update
            </button>
        </td>
        <td>
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                    ng-click="deleteUser(user.id)">
                Delete
            </button>
        </td>
    </tr>
</table>
