<p class="text-info">

    Users List<br />
</p>

<p>
    Search: <input ng-model="search">
</p>

<table class="table table-bordered">

    <tr ng-repeat="user in users | orderBy:'name' | filter:search">
        
        <td>
            {{user.id}}
            {{user.name}}
        </td>
    
        <td>
            <button ng-click="editUser(user.id)">
                Update
            </button>
        </td>
        <td>
            <button ng-click="deleteUser(user.id)">
                Delete
            </button>
        </td>
    </tr>
</table>



       