@using System.Web.Optimization
<!doctype html>
<html ng-app="ShopApp">
<head>
    <title>Shopping with AngularJS</title>
  
    

    <link rel="stylesheet" href="~/AngularJS/Mdl/material.css">
</head>

<body>

   <h3>
        @Html.ActionLink("Main Menu", "Index", "Home")
  </h3>
    <div ng-view></div>


    @*Bundle is not working yet*@
    @Scripts.Render("~/angularBundle")

    <script src="~/Scripts/jquery-2.1.4.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.js"></script>

    <script src="~/AngularJS/Services/UsersService.js"></script>
    <script src="~/AngularJS/Services/ProductsService.js"></script>
    <script src="~/AngularJS/Services/CatalogsService.js"></script>
    <script src="~/AngularJS/Services/OrdersService.js"></script>

    <script src="~/AngularJS/Controllers/AdminMenuController.js"></script>
    <script src="~/AngularJS/Controllers/UsersController.js"></script>
    <script src="~/AngularJS/Controllers/UserDetailController.js"></script>
    <script src="~/AngularJS/Controllers/ProductsController.js"></script>
    <script src="~/AngularJS/Controllers/ProductDetailController.js"></script>
    <script src="~/AngularJS/Controllers/CatalogsController.js"></script>
    <script src="~/AngularJS/Controllers/CatalogDetailController.js"></script>
    <script src="~/AngularJS/Controllers/ShopController.js"></script>

    <script src="~/AngularJS/Applications/AdminApp.js"></script>
    <script src="~/AngularJS/Applications/ShopApp.js"></script>

    <script src="~/AngularJS/Bootstrap/bootstrap.js"></script>
    <script src="~/AngularJS/Mdl/material.js"></script>

</body>
</html>